<app-header></app-header>
<div class="parallax">
  <h1>Topic Identification using Clustering</h1>
</div>
<div class="description">
  <h1>Abstract</h1>
  <p>
    Document are the part of our daily life. From small office to big corporates
    deals with huge amount of data. Not just big corporates instead text or
    small documents are also being product at the personal level. Each document
    has topic. But often people have to deal with untitled document and some
    people also don’t think that their title defines their documents. Using
    clustering technique and using its algorithms, topic can be identified and
    detected. A topic can be produced and identified by analyzing its content.
    Clustering various algorithm for topic modeling. K-mean algorithm has been
    one of the widely used algorithms for topic identification. It’s variants
    and also other algorithm such as hierarchical clustering technique.
    Different document has different length of words. Increase in word length
    can also increase the dimensionality of the data. And analyzing the content
    of big documents can be harder than smaller one. So, big document and small
    document are compared in this research. And this also show how increase
    dimensionality of the content effects the performance of the trained model.
  </p>
  <h1>Introduction</h1>
  <p>
    Human start their journey from total oblivion. They cannot tell right from
    wrong, high from low. But as they start their journey, they began to give
    label to things. From their ability called pattern recognition, they begin
    to make meaningful mental heuristic about world. And that heuristic is built
    from finding pattern out of nothing. As they experience new thing, they
    begin to cluster their information to connect them with similar things. And
    this defines every aspect of human life. Likewise, machine can now also
    perform clustering to find meaningful pattern in random data with power of
    suitable algorithms. (Gulhane & Deshmukh, 2016) defined Cluster analysis or
    clustering as a way of grouping a set of objects in such a way that objects
    in the same group (called a cluster) are more similar (in some sense or
    another) to each other than to those in other groups (clusters). Machine can
    performer more which were impossible such as document classification,
    customer segmentation, stat Analysis, Fraud detection and so on. So, in
    other words, it helps us to give meaning insights to our data. Text and
    documents are the big part of our daily live. Millions of documents are
    being produced daily by offices, schools, hospitals etc. Since texts are
    ways of conveying information and knowledge, every text has some content on
    it. Its content makes it, what it is. And title of the document provides us
    an information about its content. Even if we are not aware of its content,
    from its title we can get idea or essence of document. So, in other words
    the topics are the essence of the document. But sometimes we deal with the
    documents without topics. And it’s hard to give it title without analyzing
    its content. But now with the help of clustering, we can analyze the content
    of our document to find suitable topics for our documents. Every document is
    composed of different words or keywords which gives idea of it. By analyzing
    these words, we can get idea of which words can be suitable topic for our
    document. And it can be done by using document clustering. This research is
    going to discuss about document clustering. With the help of document
    clustering topics can be identified. Here small document refers to small
    parts such as abstract of the document and big documents refers to full
    documents. Since, everyone know that there are no right answers. Even two
    different writers can choose different topics to same contents. But main
    idea behind the topic is to find the small but relevant word to convey the
    summary of content. So, it might not be always perfect and as expected by
    people but it’s accuracy will be measured by degree of words which defines
    the content of the documents. So, while talking about the topic
    identification, keywords of those documents should analyze. Sometimes topics
    can also be different than things which are given in the contexts. Sometimes
    topic could be deduced from the keyword of the question which might not
    contain in the document, but they are trying to refer. This first part of
    research going to analyze what it is.
  </p>
</div>
